# Resources
# - https://micahkepe.com/blog/gitconfig/

[user]
	name = Dhruv Thakur
	email = dhruvt93@gmail.com
[push]
	default = simple
    autosetupremote = true
[pull]
	ff = only
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[alias]
    la = log --all --color --graph --pretty=format:'"'"'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"'"' --abbrev-commit
    l = !git log --color --graph --pretty=format:'"'"'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"'"' --abbrev-commit staging..$(git branch --show-current)
	s = status --short
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	p = !"git pull"
	c = clone --recursive
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
[core]
	editor = nvim
	excludesfile = ~/.gitignore
    pager = delta
    whitespace = trailing-space
[color]
	ui = true
[diff]
	renames = copies
    colorMoved = default
	algorithm = histogram
	context = 10
[help]
	autocorrect = prompt
[merge]
	log = true
	conflictStyle = zdiff3
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    line-numbers = true
    syntax-theme = gruvbox-dark
[split-diffs]
	min-line-width = 0
	theme-name = light
[rebase]
	autostash = true
[commit]
	verbose = true
	; gpgsign = true
[branch]
	sort = -committerdate
[tag]
	sort = -version:refname
[fetch]
	prune = true
	prunetags = true
[maintenance]
    auto = true
    strategy = incremental
