# Resources
# - https://micahkepe.com/blog/gitconfig/

[user]
	name = Dhruv Thakur
	email = dhruvt93@gmail.com
[push]
	default = simple
    autosetupremote = true
[pull]
	ff = only
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[alias]
    l = log  \
        --color \
        --graph \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
        --abbrev-commit
    la = l  \
        --all
    lnb = l \
        --perl-regexp --author='^(?!.*dependabot\\[bot\\])'
	s = status --short
	p = pull
	c = clone
[core]
	editor = nvim
	excludesfile = ~/.gitignore
    pager = delta
    whitespace = trailing-space
[color]
	ui = true
[diff]
	renames = copies
    colorMoved = default
	algorithm = histogram
	context = 10
[help]
	autocorrect = prompt
[merge]
	log = true
	conflictStyle = zdiff3
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    syntax-theme = none
    ; diff-so-fancy = true
    ; diff-highlight = true
    ; features = side-by-side

    minus-style = black "#f14c4c"
    minus-emph-style = black "#f9b7b7"
    plus-style = black "#15ac91"
    plus-emph-style = black "#75d3ba"
    line-numbers-minus-style = "#f14c4c"
    line-numbers-plus-style = "#15ac91"
    file-added-label = [●]
    file-copied-label = [C]
    file-modified-label = [+]
    file-removed-label = [⛌]
    file-renamed-label = [→]
[split-diffs]
	min-line-width = 0
	theme-name = light
[rebase]
	autostash = true
[commit]
	verbose = true
	gpgsign = true
[branch]
	sort = -committerdate
[tag]
	sort = -version:refname
[fetch]
	prune = true
	prunetags = true
[maintenance]
    auto = true
    strategy = incremental
[coderabbit]
	machineId = cli/56473f7d74464632ab9dbcac64931ddc
