;; main contains multiple manipulators
;; each manipulator has a description and multiple rules

;; main                -> {:main [{:des "..." :rules [rule1 rule2 ...]}]}
;; manipulator         -> {:des "..." :rules [rule1 rule2 ...]}
;; manipulator's rules -> [rule1 rule2 ...]
;; define application identifiers
{
 ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org#profiles
 :profiles
 {:goku {:default true ; 
         :alone   200 ; hold for .. ms to register single tap
         :held    50 ; 
         :delay   50 ; basically it means time after which the key press is count delayed
         :sim     30}} ; simultaneous key press threshold
 :templates {:open "open \"%s\""
             :alfred "osascript -e 'tell application \"Alfred 4\"
                        run trigger \"%s\" in workflow \"%s\" with argument \"%s\"
                     end tell'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\"
                        do script \"%s\"
                 end tell'"
             :application "osascript -e 'tell application \"%s\"
                          try
                                %s
                          end try
                      end tell'"
             }
 ; :layers {
 ;          :opt_mode{
 ;                    :key :left_command :alone {:key :left_option}
 ;                    }
 ;          ; :caps_mode{
 ;          ;           :key :caps_lock :alone {:key :escape}
 ;          ;           }
 ;          }
 :simlayers {;; make w key a simlayer key
             ;; layers works too, but only recommended for none typing keys
             ;; like . , tab
             ;; or keys like z, which used less often
             :a-mode {:key :a}
             :n-mode {:key :n}
             :s-mode {:key :s}
             :two-mode {:key :2}
             :three-mode {:key :3}
             :four-mode {:key :4}
             :five-mode {:key :5}
             :tilde-mode {:key :grave_accent_and_tilde}
             :hyphen-mode {:key :hyphen}
             :equal-mode {:key :equal_sign}
             :semicolon-mode {:key :semicolon}
             :0-mode {:key :0}
             :quote-mode {:key :quote}
             }
 :main [ 
        {:des "shift one shot to backspace"
         :rules [
                 [:left_shift :left_shift nil {
                                               :alone :delete_or_backspace}]
                 ]
         }
        {:des   "open stuff that get opened frequently"
         :rules [:n-mode
                 [:s [:alfred "slack_status"  "dhth.slack.status"]]
                 [:v [:alfred "vim_plugins"  "dhth.vim.plugins"]]
                 ]}
        {:des   "a mode"
         :rules [:a-mode
                 [:s [:alfred "aws"  "dhth.aws"]]  ;; aws services search
                 [:c [:alfred "aws_cf_user_guide"  "dhth.aws.cloudformation.userguide"]]  ;; aws cf user guide search
                 [:t [:alfred "tasks"  "dhth.tasks"]]
                 ]}
        {:des   "search stuff"
         :rules [:s-mode
                 [:v [:alfred "vim_plugins"  "dhth.vim.plugins"]]
                 [:d [:alfred "wiki_search"  "dhth.wiki.search"]]
                 [:o [:alfred "work_wiki_search"  "dhth.workwiki.search"]]
                 [:t [:alfred "search_tools"  "dhth.tools.search"]]
                 [:p [:alfred "pomodoro"  "dhth.pomodoro"]]
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]
                 ]}
        {:des   "open urls"
         :rules [:two-mode
                 [:n [:km "open: nikitas karabiner"]]
                 [:w [:open "http://127.0.0.1:8000"]]
                 [:e [:open "http://127.0.0.1:8001"]]
                 [:g [:open "https://github.com"]]
                 [:p [:open "https://github.com/pulls"]]
                 ]}
        {:des   "open stuff that get opened less frequently"
         :rules [:three-mode
                 [:t [:km "open: tmux_wiki"]]
                 [:p [:km "open: chrome_personal"]]
                 [:w [:km "open: chrome_work"]]
                 ]}
        {:des   "work mode"
         :rules [:four-mode
                 [:c [:km "open: chrome_work"]]
                 [:s [:km "open: setup_work"]]
                 [:j [:alfred "jira_search"  "dhth.jira"]]
                 ]}
        {:des   "launch/switch to applications"
         :rules [:five-mode
                 [:p [:open "https://github.com/pulls"]]
                 [:k [:open "/Applications/Keyboard Maestro.app"]]
                 ]}
        {:des   "mouse mode"
         :rules [:tilde-mode
                 [:h [:km "mouse: move_left"]]
                 [:l [:km "mouse: move_right"]]
                 ]}
        {:des   "caps-lock mode"
         :rules [:quote-mode
                 [:l [:alfred "system_lock" "dhth.system"]]
                 [:s [:alfred "system_sleep" "dhth.system"]]
                 ]}
        {:des   "other stuff"
         :rules [:hyphen-mode
                 [:p [:application "spotify" "playpause"]]
                 [:open_bracket [:application "spotify" "previous track"]]
                 [:close_bracket [:application "spotify" "next track"]]
                 [:1 [:application "Google Chrome" "set the clipboard to URL of active tab of first window as text"]]
                 [:2 [:application "Google Chrome" "set the clipboard to URL of active tab of second window as text"]]
                 ]}
        {:des   "other stuff"
         :rules [:equal-mode
                 [:1 [:application "Google Chrome" "set the clipboard to title of active tab of first window as text"]]
                 [:2 [:application "Google Chrome" "set the clipboard to title of active tab of second window as text"]]
                 ]}
        {:des   "semicolon mode"
         :rules [:semicolon-mode
                 [:1 [:!Ta :1]] ;; tmux prefix + 1
                 [:2 [:!Ta :2]]
                 [:3 [:!Ta :3]]
                 [:4 [:!Ta :4]]
                 [:5 [:!Ta :5]]
                 [:n [:!Ta :n]] ;; tmux prefix + n
                 [:p [:!Ta :p]] ;; tmux prefix + p
                 [:c [:!Ta :c]] ;; tmux prefix + c
                 ]}
        {:des "caps lock to left control" :rules [
                 [:##caps_lock :##left_control nil {:alone :escape}]
                 ]
         }
        {:des "left control to caps lock"
         :rules [
                 [:##left_control :caps_lock]
                 ]
         }
        {:des "right option to chrome"
         :rules [
                 [:##right_option :right_option nil {:alone [:open "/Applications/Slack.app"]}]
                 ]
         }
        {:des "left option to left command"
         :rules [
                 [:##left_option :left_command nil {:alone [:open "/Applications/iTerm.app"]}]
                 ]
         }
        {:des "left command to left option"
         :rules [
                 [:##left_command :left_option nil {:alone [:open "/Applications/Google Chrome.app"]}]
                 ]
         }
        {:des "right shift opens spotify"
         :rules [
                 [:##right_shift :right_shift nil {:alone [:open "/Applications/Spotify.app"]}]
                 ]
         }
        {:des "shift space to equals"
         :rules [
                 [{:key :spacebar :modi :left_shift} [:spacebar :equal_sign :spacebar]]
                ; [:!Tj :down_arrow]
                ; [:!Tk :up_arrow]
                ; [:!Th :left_arrow]
                ; [:!Tl :right_arrow]
                 ]
         }
        ; {:des "opt mode"
        ;  :rules [
        ;          :opt_mode
        ;          [:##h :left_arrow]
        ;          [:##j :down_arrow]
        ;          [:##k :up_arrow]
        ;          [:##l :right_arrow]
        ;          ]
        ;  }
        ]
 }
